* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(grey, white) ;
  height: 100vh;
}

.userCardContainer {
  overflow: hidden;
  width: 300px;
  height: 400px;
  border: 1px solid red;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 20px;
}
.colorCardContainer {
  width: 100%;
  height: 50%;
  background-image: linear-gradient(red, white);
}
.userInfoContainer {
  width: 100%;
  height: 60%;
  background-color: white;
  text-align: center;
  padding: 10px;
  position: relative;
}
.userPhoto {
  background-size: contain;
  background-image: url('../photo.jpg');
  border: 1px solid red;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translate(-50%);
}
.infoContainer {
  position: relative;
}
.userName {
  font-size: 20px;
  font-weight: 600;
}
.userJob {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 40px; 
  left: 50%;
  transform: translate(-50%, 0);
}
.buttonFollow {
  width: 200px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%, 0);
}
.followers {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translate(-50%, 0);
}
.followText{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}