* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(grey, white) ;
  height: 100vh;
}
ul > li{
  display: inline-block;
}

.userCardContainerBohdan {
  overflow: hidden;
  width: 300px;
  height: 400px;
  border: 1px solid red;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 20px;
}
.userCardContainerAnderson {
  overflow: hidden;
  width: 300px;
  height: 400px;
  border: 1px solid blue;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 20px;
}
.userCardContainerMonica {
  overflow: hidden;
  width: 300px;
  height: 400px;
  border: 1px solid green;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 20px;
}
.colorCardContainerBohdan {
  width: 100%;
  height: 50%;
  background-image: linear-gradient(red, white);
}
.colorCardContainerAnderson {
  width: 100%;
  height: 50%;
  background-image: linear-gradient(blue, white);
}
.colorCardContainerMonica {
  width: 100%;
  height: 50%;
  background-image: linear-gradient(green, white);
}
.userInfoContainer {
  width: 100%;
  height: 60%;
  background-color: white;
  text-align: center;
  padding: 10px;
  position: relative;
}
.userPhotoBohdan {
  background-size: contain;
  background-image: url('../man.jpg');
  border: 1px solid red;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translate(-50%);
}
.userPhotoAnderson {
  background-size: contain;
  background-image: url('../man.jpg');
  border: 1px solid blue;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translate(-50%);
}
.userPhotoMonica {
  background-size: contain;
  background-image: url('../wuman.jpg');
  border: 1px solid green;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translate(-50%);
}

.infoContainer {
  position: relative;
}
.userName {
  font-size: 20px;
  font-weight: 600;
}
.userJob {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 40px; 
  left: 50%;
  transform: translate(-50%, 0);
}
.buttonFollowBohdan {
  width: 200px;
  height: 30px;
  border: 1px solid red;
  border-radius: 5px;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%, 0);
}
.buttonFollowAnderson {
  width: 200px;
  height: 30px;
  border: 1px solid blue;
  border-radius: 5px;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%, 0);
}
.buttonFollowMonica {
  width: 200px;
  height: 30px;
  border: 1px solid green;
  border-radius: 5px;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%, 0);
}
.followers {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translate(-50%, 0);
}
.followText{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}